=title "Games &raquo; #{@date}".html_safe

%table.calendar
  %tr.nav
    %td{:colspan => 2, :class => 'left'}= link_to "&larr; #{@date.prev_day.to_s}".html_safe, :date => @date.prev_day
    %td{:colspan => 2, :class => 'right'}= link_to "#{@date.next_day.to_s} &rarr;".html_safe, :date => @date.next_day
  - if @games.length > 0
    %tr
      %th Score
      %th Away team
      %th Home team
      %th Venue
    - @games.each do |game|
      %tr
        - if game.ncaa_id.nil?
          %td= game.prediction :home
        -else
          %td= link_to "#{game.away.goals}-#{game.home.goals}", game
        %td= link_to game.teams[:away].name, team_path(game.teams[:away], :year => game.date.year)
        %td= link_to game.teams[:home].name, team_path(game.teams[:home], :year => game.date.year)
        %td= game.venue
  - else
    %tr 
      %td{:colspan=> 4, :class => 'empty'} No games scheduled for today
  %tr.nav
    %td{:colspan => 2, :class => 'left'}= link_to "&larr; #{@date.prev_day.to_s}".html_safe, :date => @date.prev_day
    %td{:colspan => 2, :class => 'right'}= link_to "#{@date.next_day.to_s} &rarr;".html_safe, :date => @date.next_day
 
%br

