-title "#{@game.date.year} » Game Detail"
%p#notice= notice

%h1
  = link_to "#{@game.teams[:away].name}", {:controller => 'teams', :action => 'show', :id => @game.teams[:away].id, :year => @game.date.year} 
  at 
  = link_to "#{@game.teams[:home].name}", {:controller => 'teams', :action => 'show', :id => @game.teams[:home].id, :year => @game.date.year} 
%h3
  = @game.date.strftime "%a. %b. %-d, %Y"

%table.preview.box_score
  %tr.schedule
    %td{:colspan => 2}= link_to "&larr; #{@prev.teams[:away].name} at #{@prev.teams[:home].name} ".html_safe, @prev
    %td= link_to " #{@next.teams[:away].name} at #{@next.teams[:home].name} &rarr;".html_safe, @next
  %tr
    %th
    %th= "#{@game.teams[:home].name} (Home)"
    %th= "#{@game.teams[:away].name} (Away)"
  %tr.descending
    %td Predicted Win%
    %td= "#{@game.prediction(:home).round(2)}%"
    %td= "#{@game.prediction(:away).round(2)}%"
  %tr.descending
    %td Goals
    %td= stat_with_rank :goals_per_game, @home
    %td= stat_with_rank :goals_per_game, @away
  %tr.skip
    %td  Pace
    %td= stat_with_rank :pace, @home
    %td= stat_with_rank :pace, @away
  %tr.descending
    %td  Off Eff
    %td= stat_with_rank :adjusted_offensive_efficiency, @home
    %td= stat_with_rank :adjusted_offensive_efficiency, @away
  %tr.ascending
    %td  Def Eff
    %td= stat_with_rank :adjusted_defensive_efficiency, @home
    %td= stat_with_rank :adjusted_defensive_efficiency, @away
  %tr
    %th{:colspan => 3} Possessions and Pace
  %tr.descending
    %td Faceoff %
    %td= stat_with_rank :faceoff_percentage, @home, true
    %td= stat_with_rank :faceoff_percentage, @away, true
  %tr.descending
    %td Clearing %
    %td= stat_with_rank :offensive_clear_rate, @home, true
    %td= stat_with_rank :offensive_clear_rate, @away, true
  %tr.descending
    %td Riding %
    %td= stat_with_rank :defensive_clear_rate, @home, true
    %td= stat_with_rank :defensive_clear_rate, @away, true
  %tr.descending
    %td Poss %
    %td= stat_with_rank :pos_percentage, @home, true
    %td= stat_with_rank :pos_percentage, @away, true
  %tr
    %th{:colspan => 3} Shooting Stats
  %tr.descending
    %td Shots/Pos
    %td= stat_with_rank :shots_per_possession, @home, false, 4
    %td= stat_with_rank :shots_per_possession, @away, false, 4
  %tr.descending
    %td Shooting %
    %td= stat_with_rank :shooting_percentage, @home, true
    %td= stat_with_rank :shooting_percentage, @away, true
  %tr.descending
    %td eShooting %
    %td= stat_with_rank :effective_shooting_percentage, @home, true
    %td= stat_with_rank :effective_shooting_percentage, @away, true
  %tr.descending
    %td Assists/Pos
    %td= stat_with_rank :assists_per_possession, @home, false, 4
    %td= stat_with_rank :assists_per_possession, @away, false, 4
  %tr.ascending
    %td Turnovers/Pos
    %td= stat_with_rank :turnovers_per_possession, @home, false, 4
    %td= stat_with_rank :turnovers_per_possession, @away, false, 4
  %tr
    %th{:colspan => 3} Extra Man Stats
  %tr.heading
    %td
    %td Man Up
    %td Man Down
  %tr.skip
    %td EMO / Pos
    %td= stat_with_rank :extra_man_per_possession, @home, false, 4
    %td= stat_with_rank :opp_extra_man_per_possession, @away, false, 4
  %tr.skip
    %td EMO %
    %td= stat_with_rank :extra_man_conversion, @home, true
    %td= stat_with_rank :man_down_conversion, @away, true
  %tr.skip
    %td EMO Reliance %
    %td= stat_with_rank :emo_reliance, @home, true
    %td=stat_with_rank :man_down_reliance, @away, true
  %tr.heading
    %td
    %td Man Down
    %td Man Up
  %tr.skip
    %td EMO / Pos
    %td= stat_with_rank :opp_extra_man_per_possession, @home, false, 4
    %td= stat_with_rank :extra_man_per_possession, @away, false, 4
  %tr.skip
    %td EMO %
    %td= stat_with_rank :man_down_conversion, @home, true
    %td= stat_with_rank :extra_man_conversion, @away, true
  %tr.skip
    %td EMO Reliance %
    %td= stat_with_rank :man_down_reliance, @home, true
    %td= stat_with_rank :emo_reliance, @away, true
  %tr
    %th{:colspan => 3} Goalies
  %tr.descending
    %td Save %
    %td= stat_with_rank :save_percentage, @home, true
    %td= stat_with_rank :save_percentage, @away, true
  %tr.ascending.bottom
    %td Save / Def Pos
    %td= stat_with_rank :saves_per_possession, @home, false, 4
    %td= stat_with_rank :saves_per_possession, @away, false, 4
  %tr.schedule
    %td{:colspan => 2}= link_to "&larr; #{@prev.teams[:away].name} at #{@prev.teams[:home].name} ".html_safe, @prev
    %td= link_to " #{@next.teams[:away].name} at #{@next.teams[:home].name} &rarr;".html_safe, @next