%p#notice= notice

%h1
  = "#{@game.teams[:away].name} at #{@game.teams[:home].name}"

%p
  %b ID:
  = @game.id
%p
  %b Home team:
  = @game.teams[:home].name
%p
  %b Away team:
  = @game.teams[:away].name
%p
  %b Year:
  = @game.date.year
%p
  %b Venue:
  = @game.venue
%p
  %b Date:
  = @game.date

%p= link_to 'Box Score', "http://stats.ncaa.org/game/box_score/#{@game.ncaa_id}"

//%p= link_to 'Home Stats', @game.home
//%p= link_to 'Away Stats', @game.away

= link_to 'Back', games_path
