= form_for @game_stat do |f|
  - if @game_stat.errors.any?
    #error_explanation
      %h2= "#{pluralize(@game_stat.errors.count, "error")} prohibited this game_stat from being saved:"
      %ul
        - @game_stat.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :team_id
    = f.number_field :team_id
  .field
    = f.label :home
    = f.check_box :home
  .field
    = f.label :game_id
    = f.number_field :game_id
  .field
    = f.label :goals
    = f.number_field :goals
  .field
    = f.label :shot_attempts
    = f.number_field :shot_attempts
  .field
    = f.label :shots_on_goal
    = f.number_field :shots_on_goal
  .field
    = f.label :assists
    = f.number_field :assists
  .field
    = f.label :faceoffs_won
    = f.number_field :faceoffs_won
  .field
    = f.label :faceoff_percentage
    = f.text_field :faceoff_percentage
  .field
    = f.label :clear_attempts
    = f.number_field :clear_attempts
  .field
    = f.label :clear_success
    = f.number_field :clear_success
  .field
    = f.label :extra_man_opportunities
    = f.number_field :extra_man_opportunities
  .field
    = f.label :extra_man_goals
    = f.number_field :extra_man_goals
  .field
    = f.label :man_down_goals
    = f.number_field :man_down_goals
  .field
    = f.label :penalties
    = f.number_field :penalties
  .actions
    = f.submit 'Save'
