%h1 Listing players

%table
  %tr
    %th Name
    %th Team
    %th
    %th
    %th

  - @players.each do |player|
    %tr
      %td= "#{player.first_name} #{player.last_name}"
      %td= player.team.name
      %td= link_to 'Show', player
      %td= link_to 'Edit', edit_player_path(player)
      %td= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Player', new_player_path
