-title "#{@year} Ratings"


%table.sortable.persist-area
  %thead.persist-header   
    %tr
      %th Team
      %th W-L
      %th= Stat.find_by_slug(:pyth).abbreviation
      %th= Stat.find_by_slug(:adjusted_offensive_efficiency).abbreviation
      %th= Stat.find_by_slug(:adjusted_defensive_efficiency).abbreviation
      %th= Stat.find_by_slug(:opp_pyth).abbreviation
      %th= Stat.find_by_slug(:pace).abbreviation
      %th= Stat.find_by_slug(:pos_percentage).abbreviation
      %th= Stat.find_by_slug(:faceoff_percentage).abbreviation
      %th= Stat.find_by_slug(:offensive_clear_rate).abbreviation
      %th= Stat.find_by_slug(:defensive_clear_rate).abbreviation
  
  %tbody  
    - @annual_stats.each do |a|
      %tr
        %td= link_to a.team.name, "/teams/#{a.team.id}/#{@year}"
        %td= "#{a.wins}-#{a.losses}"
        %td= stat_with_rank(:pyth, a, true)
        %td= stat_with_rank(:adjusted_offensive_efficiency, a)
        %td= stat_with_rank(:adjusted_defensive_efficiency, a)
        %td= stat_with_rank(:opp_pyth, a, true)
        %td= stat_with_rank(:pace, a)
        %td= stat_with_rank(:pos_percentage, a, true)
        %td= stat_with_rank(:faceoff_percentage, a, true)
        %td= stat_with_rank(:offensive_clear_rate, a, true)
        %td= stat_with_rank(:defensive_clear_rate, a, true)
      
