!!!
%html
  %head
    %title
      = yield( :title )
    = stylesheet_link_tag "application", :media => "all"
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600,700", :media=> "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    
    %div.container
      %hgroup
        %h2 
          Tempo Free Lax &raquo;
          = yield( :title )
        %div.faq= link_to 'FAQ', 'http://www.greatlaxstate.com/tempo-free-lacrosse-faq'
      %div.content
        = yield
      %footer.center
        Created by 
        = link_to 'Tim Sullivan', 'http://twitter.com/GreatLaxState'
        and 
        = link_to 'Paul Nelson', 'http://twitter.com/PaulVBlue'
        
  %script{:type => 'text/javascript'} var _gaq = _gaq || [];_gaq.push(['_setAccount', 'UA-5674767-9']);_gaq.push(['_trackPageview']);(function() {var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);})();